* {
    --body: #fefbf1;
    --darkYellow: #fbf0d4;
    --dark: #404448;
    --pink: #f0c4c5;
    --darkPink: #c48490;
    --blue: #6e91aa;
    --transparent: #fefbf198;
}



.pageContainer {
    background-image: url('../../images/6.png');
    background-color: #FBF0D4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

:global(#create-title){
    margin-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.formContainer {
    display: flex;
    background-color: var(--transparent);
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 0.15rem 0.5rem rgba(65, 69, 73, 0.286);
    margin-top: 2rem;
    height: 65%;
}


.formElement {
    display: flex;
    gap: 6px;
    margin-bottom: 1rem;
}

.formLabel{
    display: flex;
    text-align: left;
    width: 10rem;
    flex-shrink: 0;
    font-weight: 500;

}

.formInput {
    border: none;
    border-radius: 14px;
    outline: none;
    width: 12rem;
    height: 2rem;
}

.formInput:focus {
    border: var(--darkYellow) 2px solid;
}



.btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.btnSave {
    background-color: var(--darkPink);
    border: none;
    border-radius: 14px;
    width: 8rem;
    height: 2rem;
    color: var(--body);
}

.btnSave:hover {
    background-color: var(--pink);
    cursor: pointer;
}


.btnCancel {
    background-color: var(--blue);
    border: none;
    border-radius: 14px;
    width: 6rem;
    height: 2rem;
    color: var(--body);
}

.btnCancel:hover {
    background-color: #93a8b8;
    cursor: pointer;
}
