* {
    --body: #fefbf1;
    --darkYellow: #fbf0d4;
    --dark: #404448;
    --pink: #f0c4c5;
    --darkPink: #c48490;
    --blue: #6e91aa;
    --transparent:  #fefbf198;
}



.pageContainer {
    background-image: url('../../images/6.png');
    background-color: #FBF0D4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container{
    display: flex;
    justify-content:center;
}

.formContainer{
    display: flex;
    background-color: var(--transparent);

    border-radius: 10px;
    margin-top: 4rem;
    margin-left:15rem;
    margin-right: -10rem;
    padding: 3rem;


}

.image{
    width: 50%;
    padding-top: 3rem;
    margin-right: 10%;
    display: flex;
}
.formElement{
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}


.btnContainer {
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-top: 1rem;
}

.btn{
    background-color: var(--darkPink);
    border: none;
    border-radius: 14px;
    width: 8rem;
    height: 2rem;
    color: var(--dark);
}

.btn:hover{
    background-color: var(--pink);
    cursor: pointer;
}

.btnCancel{
    background-color: var(--blue);
    border: none;
    border-radius: 14px;
    width: 6rem;
    height: 2rem;
    color: var(--dark);
}

.btnCancel:hover{
    background-color: #93a8b8;
}

.formInput{
    border: none;
    border-radius: 14px;
    outline: none;

}

.formInput:focus
{
        border: var(--darkYellow) 2px solid;
}